* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(45, 31, 64);
}


/*Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 31, 64, 0.65);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    font-size: 1.5rem;
}

/*About Me Section*/

#home {
    display: flex;
    flex-direction: column;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../Images/forest_background.jpeg) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

.box {
    width: 450px;
    background: rgba(45, 31, 64, 0.65);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: aliceblue;
    font-family: 'Century Gothic', sans-serif;
}

.box-img {
    border-radius: 30%;
    width: 200px;
    height: 200px;

}

.box h1 {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 200;
    color: white;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box p {
    text-align: justify;
    color: white;
}

/*Footer Section*/

.footer-distributed {
    background-color: rgba(45, 31, 64);
    box-shadow: 0 1px 1px 0 rgba(45, 31, 64, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 5%;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}


.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}